.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftColumnSpacing {
    margin-bottom: 75px;
}

.rightColumnSpacing {
    margin-bottom: 50px;
}

.fiveColumn {
    float: left;
    width: 20%;
}

body {
    background-color: #D4E6F1;
    color: #191970;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    color: black;
}