body { background-color:#1488bea4; color:#1971970;}


/*main {
    background-image: url(images/favicon.jpg);
    opacity: 0.5;
}
*/
h1 {background-color:#70195adc; color:#140597d8;
    
}
h2  { background-color:#541970; color:#191970;}
#pic {text align: center}

main {
    text-align: center;
}